.App {
  display: grid;
  height:100%;
  grid-template-rows: 150px 100% 200px;
}

input{
  padding: 10px 10px 10px 10px;
  min-width: 300px;
  outline: none;
  border: none;
  transition: box-shadow 500ms;
  background-color: #dadada;
}

input:focus{
  box-shadow: 0px 0px 15px black inset;
  transition: box-shadow 500ms;
}